/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2259AB;
  --ifm-color-primary-dark: #1f4f9a;
  --ifm-color-primary-darker: #1d4a91;
  --ifm-color-primary-darkest: #183d77;
  --ifm-color-primary-light: #2a63bc;
  --ifm-color-primary-lighter: #2c68c5;
  --ifm-color-primary-lightest: #3f7bd0;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #2259AB;
  --ifm-color-primary-dark: #1f4f9a;
  --ifm-color-primary-darker: #1d4a91;
  --ifm-color-primary-darkest: #183d77;
  --ifm-color-primary-light: #2a63bc;
  --ifm-color-primary-lighter: #2c68c5;
  --ifm-color-primary-lightest: #3f7bd0;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}